<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Cheername:</strong>
  <%= @member.cheername %>
</p>

<p>
  <strong>Generation:</strong>
  <%= @member.generation %>
</p>

<p>
  <strong>Content:</strong>
  <%= @member.content %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
